# Fichiers générés automatiquement
**/__pycache__/*
*.pyc
__pycache__
*.log
*.db.sqlite3
*db.sqlite3

# Répertoires spécifiques à Django 
media/
static/


# Fichiers de configuration contenant des informations sensibles
*.env
*.secret_key