# Configuration des fins de ligen pour les différents types de fichiers
*.txt  text
*.md   text 
*.csv  text
*.sh   text eol=lf 

.txt  text
.md   text 
.csv  text
.sh   text eol=lf

# Encodage des fichiers texte
*.txt  encoding=utf-8
*.csv  encoding=utf-8

.txt  encoding=utf-8
.csv  encoding=utf-8

# Configuration des filtres personnalisés
*.jpg  binary
*.docx diff=word

.jpg  binary
.docx diff=word