# Fichiers générés automatiquement
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/*

.db.sqlite3
db.sqlite3

# Répertoires spécifiques à Django 
/media
/static


# Fichiers de configuration contenant des informations sensibles
.env
# Environments
.env*
env/
/staticfiles/
/staticfiles
