{% extends "master.html" %}
{% load static %}
{% block title %}
Password reset email
{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

 <!--Body Content--> 
 <div id="page-content" class="mt-5">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Change Password</h1></div>
          </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-4 mb-5">
                <div class="mb-4 mt-4">
                                    
                    <div class="center">
                        <p>Hi</p>

                        <p>You're receiving this email because you requested a password reset for your user account at {{domain}}/</p>
                        
                        <p>Please click the following link to reset your password:</p>
                        
                        {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
                        
                        <p>Thanks</p>
                        <p>TatfoSuperMarket Team</p>  
                    </div>

                </div>
               </div>
        </div>
    </div>
    
</div>
<!--End Body Content-->
     
{% endblock %}
