{% extends "master.html" %}
{% load static %}
{% block title %}
Register
{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
{% load socialaccount %}

     <!--Body Content--> 
     <div id="page-content" class="mt-5">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Create your account</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-4 mb-5">
                	<div class="mb-4 mt-4">
                                        
                            <form method="post" novaldiate  id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
                                {% csrf_token %}
    
                                    {% for field in form %}
                                            {{ field.label_tag }} 
                                            {{ field }}
                                            {% if field.errors %}
                                                <small class="error">{{ field.errors|striptags  }}</small> 
                                            {% endif %}
                                    {% endfor %}

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mt-2">
                                        <input class="" type="checkbox" id="terms-conditions" name="terms">
                                        <label class="form-check-label" for="terms-conditions">
                                            I agree to
                                        <a href="{% url "Ecommerce:terms" %}">privacy policy & terms</a>
                                        </label>                       	
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                        <label for="">Recaptcha:</label>
                                            {{ form.captcha }}
                                        </div>
        
                                      
                                    </div>
                              
                              <div class="row mt-2">
                                <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit" class="btn mb-3" value="Create">
                                    
                                </div>
                              </div>

                              <p class="text-center">
                                <span class="text-muted">Already have an account ?</span>
                                <a href="{% url "account:login" %}">
                                <span>Sign in instead</span>
                                </a>
                              </p>

                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                     <div class="text-center px-4">
                                         <a href="#" class="mr-2" style="text-decoration: none; pointer-events:none;">Sign In with</a>
                                         <a href="{% provider_login_url 'google'%}?next=/" class="google-sign-in mr-2"><i class="fa fa-google text-danger"></i>  Google</a> &nbsp; | &nbsp;
                                         <a href="" class="github-sign-in"><i class="fa fa-github"></i>  Github</a> &nbsp; | &nbsp;
                                         <a href="" class="facebook-sign-in ml-2"><i class="fa fa-facebook text-primary"></i>  Facebook</a>
                                     </div>
                                 </div>
                             </div>
                              </form>

                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->

{% endblock %}