{% extends "master.html" %}
{% load static %}
{% block title %}
Password Change
{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

{% comment %} <form method="post">
     {% csrf_token %}
     {{ form.as_p}}
     <button type="submit">Change Password</button>
</form> {% endcomment %}


  <!--Body Content--> 
  <div id="page-content" class="mt-5">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Change Password</h1></div>
          </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-4 mb-5">
                <div class="mb-4 mt-4">
                                    
                    <div class="center">
                        {%if error%}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {%endif%}
                        <p class="text-muted">
                            Please enter your new password twice so we can verify you typed it in correctly.
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                    {{ field.label_tag }} 
                                    {{ field }}
                                    {% if field.errors %}
                                        <small>{{ field.errors|striptags  }}</small> 
                                    {% endif %}
                            {% endfor %}
                            <div class="form-buttons mt-3">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                    </div>

                </div>
               </div>
        </div>
    </div>
    
</div>
<!--End Body Content-->
     
{% endblock %}