{% extends "master.html" %}
{% load static %}
{% block title %}
My Profile
{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

     <!--Body Content--> 
     <div id="page-content" class="mt-5">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">My Profile</h1></div>
      		</div>
		</div>
        <!--End Page Title-->

        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-4 mb-5">
                	<div class="mb-4 mt-4">
                                        
                   <div class="center">
                            <form method="POST" enctype="multipart/form-data" class="card">
                                {% csrf_token %} 
                                
                               {% if user.profile %}
                                    <img src="{{user.profile.avatar.url}}" alt="{{ user.username }}" class="avatar"  accept=".jpg,.jpeg,.png"/>
                                {% endif %} 
                                
                               <h2 class="text-center">{{ user.username | title }}</h2>
                                <p class="text-center"><a href="mailto:{{user.email}}">{{user.email}}</a></p>
                                <hr>
                                
                                <label for="email">Email Address:</label>
                                <input type="email" id="email" name="email" value="{{user.email}}" />
                                    
                                
                                <label for="avatar">Avatar:</label>
                                <input type="file" name="avatar" id="avatar">	
                           
                                <button type="submit" class="btn btn-primary full-width">Update Profile</button>
                            
                            </form>
                        </div> 

                        <div class="center">
                            <a href="{% url 'accountss:delete_account' %}" class="text-center">Supprimer mon compte</a>
                        </div>

                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->

{% endblock %}