{% extends "master.html" %}
{% load static %}
{% block title %}
Paycancel
{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

   <!--Body Content-->
   <div id="page-content" class="mt-5">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width"> Payment Canceled.</h1></div>
          </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                <div class="">
                    <p class="mb-0">
                        Please contact support.
                      </p>
                </div>
            </div>

        </div>
    </div>
    
</div>
<!--End Body Content-->

{% endblock %}