{% extends "master.html" %}
{% load static %}
{% block title %}
Paysuccess
{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
     
    <!--Body Content-->
    <div id="page-content" class="mt-5">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Paysuccess</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="">
                        <div class="text-center">
                            <h4 class="text-gradient text-primary">
                              Thank You! The payment was successful.
                            </h4>
                            <p class="mb-0">
                              {% comment %} {{ api|safe}} {% endcomment %}
                              Soon we will deliver the product.
                            </p>
                            <h5>Votre commande a bien été enregistrée.</h5>
                          </div>
                    </div>
                   <div class="card-body">
                      <div class="table-responsive">
                          <table id="example1" class="table table-bordered table-striped dataTable dtr-inline dt-responsive" aria-describedby="example1_info">
                            <thead>
                            <tr>
                              <th class="text-center"> Moyen de paiement </th>
                              <th class="text-center">NOM</th>
                              <th class="text-center">Email</th>
                            
                              
                            </tr>
                            </thead>
                        
                            <tbody>
        
        
                            <tr>
                              <td class="text-center">Notch Pay</td>
                              <td class="text-center">{{ user.username }}</td>
                              <td class="text-center text-capitalize">{{ user.email }}</td>
                             
                             
                            </tr>
                   
                            </tbody>
                       
                          
                          </table>
                   
                           
                      </div>
                      </div>
                      <!-- /.card-body -->
                    </div> 
                </div>

            </div>
        </div>
        
    </div>
    <!--End Body Content-->

{% endblock %}